.second_slide{
    height: 100%;
    /* top: 11%; */

    overflow-y: auto;
}

.content_holder{
    background: linear-gradient(180deg,#D2F2F7,#1C88DE);
    overflow-x: hidden;
}
.text_contain{
    overflow-y: auto;
    
}


.content_content{
    font-size: medium;
}


.slide:nth-child(1){
    
    z-index: 1;
}



.slide:nth-child(2){
    z-index: 2;
    /* top: 20%; */
}
.slide:nth-child(3){

    z-index: 3;
    /* top: 15%; */
}

.slide:nth-child(4){
    /* top: 30%; */
    z-index: 4;
}


.text_section:nth-child(2){
    z-index: 999;
}

nav{
    width: 210%;
}

